* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    white-space: normal;
}

@font-face {
    font-family: 'Pixel';
    src: url('./fonts/Jersey10-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Regular';
    src: url('./fonts/Kanit-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0;
    font-family: 'Regular', serif;
    padding: 0;
    display: flex;
    justify-content: center;
    background-color: #A2678A;
    align-items: flex-start;
    min-height: 100vh;
    overflow-y: auto;
}

.bg-img img{
    z-index: -1;
    background-color: #451952; /* Новий фон */
}

header {
    font-family: 'Pixel', sans-serif;
    position: fixed;
    width: 100%;
    height: 70px;
    left: 0;
    top: 0;
    display: flex;
    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.4);
    background: #7A316F;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    border-radius: 0.2rem;
    z-index: 100;
}

header .logo {

    font-size: 2.2rem;
    color: black;
    letter-spacing: 2px;
    font-weight: 800;
}

header .navbar ul {
    display: flex;
    gap: 1.5rem;
}

header .navbar ul li a {
    padding: 10px;
    text-decoration: none;
    color: black;
    font-size: 2rem;
    position: relative;
}

.content {
    margin-top: 60px;
    height: auto;
    width: 100%;
}

.firm-info {
    display: flex;
    padding: 0;
    margin: 0;
    z-index: 8;
    /*align-items: stretch;!* the items would be the same height*!*/
}

.info {
    order: 1;
    flex: 1;
    background-color: #E19898;
    box-shadow: 0 10px 5px rgba(0, 0, 0, 0.9);
    padding: 25px;
}

.info h1 {
    font-family: 'Pixel', sans-serif;
    letter-spacing: 2px;
}

.picture {
    order: 2;
    flex: 3;
    max-width: 100%;
    position: relative;
}

.picture img {
    width: 100%;
    height: 100%;
    z-index: -1;
    /*object-fit: cover;*/
}
.clickable-arcade {
    position: absolute;
    bottom: 11%;
    left: -3%;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.clickable-arcade p{
    position: relative;
    background: #A2678A;
    z-index: 10; /* Поверх остальных элементов */
    animation: pulse 2s infinite;
    padding: 10px; /* Добавьте отступы, чтобы элемент имел некоторую внутреннюю отступы */
    display: inline-block; /* Это поможет блочному элементу занимать только необходимую ширину */
    margin: 0; /* Убедитесь, что у элемента нет внешних отступов */
    border-radius: 5px; /* Опционально: скругленные углы для лучшего визуального эффекта */
    color: #fff;
    height: 50%;
}

.clickable-arcade p:before {
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    background: #A2678A ;
    z-index: -1;
    bottom: 30%;
    left: -3%;
    border-radius: 0.2rem;
    transform: rotate(45deg);
}

.clickable-arcade input{
    width: 25%;
    transition: transform 0.3s; /* Добавление эффекта при наведении */
    cursor: pointer;
    }

    /*.clickable-arcade img {*/
/*    width: 100%; !* Ширина изображения *!*/
/*    height: auto; !* Высота автоматически *!*/
/*    animation: pulse 2s infinite; !* Анимация пульсации *!*/
/*    filter: brightness(0.8); !* Затемнение для эффекта кнопки *!*/
/*}*/

/*.clickable-arcade:hover img {*/
/*    transform: scale(1.05); !* Увеличение при наведении *!*/
/*    filter: brightness(1); !* Осветление при наведении *!*/
/*}*/

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.05);
    }
    100% {
        transform: scale(1);
    }
}

.picture .contact {
    z-index: 1;
    position: absolute;
    background-color: #7A316F;
    padding: 25px;
    max-width: 100%;
    width: 100%;
    bottom: 0;
    height: auto;
    box-shadow: 0 10px 5px rgba(0, 0, 0, 0.9);

}

.clickable-arcade input:hover{
    animation: none;
}

.form {
    display: none;
    position: absolute;/* Початково форма прихована */
    top: 0;
    left: 0;
    width: 100%;
    /*transform: translate(-50%, -50%);*/
    border: 1px solid #7A316F;
    background-color: #fff;
    z-index: 200;
    padding: 20px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}

.form button {
    background-color: #7A316F;
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
}

.form button:hover {
    background-color: #A2678A;
}