* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    white-space: normal;
    list-style: none;
}

@font-face {
    font-family: 'Pixel';
    src: url('./fonts/Jersey10-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Regular';
    src: url('./fonts/Kanit-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0;
    font-family: 'Regular', serif;
    justify-content: center;
    background-color: #A2678A;
    align-items: flex-start;
    min-height: 100vh;
    overflow-y: auto;
}

a {
    color: inherit;
}

header {
    font-family: 'Pixel', sans-serif;
    position: fixed;
    width: 100%;
    height: 70px;
    left: 0;
    top: 0;
    display: flex;
    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.4);
    background: #7A316F;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    border-radius: 0.2rem;
    z-index: 100;
}

header .logo {

    font-size: 2.2rem;
    color: black;
    letter-spacing: 2px;
    font-weight: 800;
}

header .navbar ul {
    display: flex;
    gap: 1.5rem;
}

header .navbar ul li a {
    padding: 10px;
    text-decoration: none;
    color: black;
    font-size: 2rem;
    position: relative;
}

.content {
    margin-top: 60px;
    height: auto;
    width: 100%;
}

.firm-info {
    display: flex;
    padding: 0;
    margin: 0;
    z-index: 8;
    /*align-items: stretch;!* the items would be the same height*!*/
}

.info {
    order: 1;
    flex: 1;
    background-color: #E19898;
    box-shadow: 0 10px 5px rgba(0, 0, 0, 0.9);
    padding: 25px;
}

.info h1 {
    font-family: 'Pixel', sans-serif;
    letter-spacing: 2px;
}

.picture {
    order: 2;
    flex: 3;
    max-width: 100%;
    position: relative;
}

.picture img {
    width: 100%;
    height: 100%;
    z-index: -1;
    /*object-fit: cover;*/
}
.clickable-arcade {
    position: absolute;
    bottom: 11%;
    left: -3%;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.clickable-arcade p{
    position: relative;
    background: rgba(170, 134, 201, 0.8);
    z-index: 1; /* Поверх остальных элементов */
    animation: pulse 2s infinite;
    padding: 10px; /* Добавьте отступы, чтобы элемент имел некоторую внутреннюю отступы */
    display: inline-block; /* Это поможет блочному элементу занимать только необходимую ширину */
    margin: 0; /* Убедитесь, что у элемента нет внешних отступов */
    border-radius: 5px; /* Опционально: скругленные углы для лучшего визуального эффекта */
    color: #fff;
    height: 50%;
}

.clickable-arcade p:before {
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    background: rgba(170, 134, 201, 0.8) ;
    z-index: -1;
    bottom: 30%;
    left: -3%;
    border-radius: 0.2rem;
    transform: rotate(45deg);
}

.clickable-arcade label{
    width: 20%;
    transition: transform 0.3s; /* Добавление эффекта при наведении */
    cursor: pointer;
    }
.clickable-arcade label input {
    display: none;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.05);
    }
    100% {
        transform: scale(1);
    }
}



.picture .contact {
    z-index: 1;
    position: absolute;
    background-color: #7A316F;
    padding: 25px;
    max-width: 100%;
    width: 100%;
    bottom: 0;
    height: auto;
    box-shadow: 0 10px 5px rgba(0, 0, 0, 0.9);

}

.clickable-arcade label:hover{
    width: 19%;
}

.box {
    display: flex;
    justify-content: center;
}

.bg-images {
    position: fixed; /* Застосування фіксованої позиції для фону */
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    filter: brightness(0.5);
    background-size: cover; /* Щоб зображення покривало весь фон */
    background-position: center; /* Центрування зображення */
    display: none; /* Приховати фон за замовчуванням */
    z-index: -1;
}

.bg-images img {
    width: 100%;
    height: 100vh;
    object-fit: cover; /* Покриття всього екрану */
}

.container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 2rem;
    z-index: 2;
    display: none;
    /*position: fixed;*/
}
.form-box {
    display: flex;
    flex-direction: column;
    margin-top: 5em;

    border-radius: 15px;
    background-color: #faf9ff;
}

.progress {
    position: relative;
    padding: 1em;
}

.form-logo {
    font-size: 1.75em;
    font-weight: 800;
    color: #333333;
    padding: 40px 48px;
    text-align: center;
}

.form-logo span{
    color: mediumpurple;
}

.progress ul.progress-steps {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 2em;
}

.progress ul.progress-steps li {
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: 2em;
}

.progress ul.progress-steps li > span {
    position: relative;
    width: 40px;
    height: 40px;
    font-size: smaller;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 1em;
    border-radius: 50%;
    background-color: darkgray;
    z-index: 1;
}

.progress ul.progress-steps li.active > span {
  color: white;
    background-color: mediumslateblue;
    border: 4px solid mediumpurple;
    z-index: 1;
}

.progress ul.progress-steps li p span {
    font-size:smaller;
    color: rgba(170, 134, 201, 0.8);
    display: none;
}

.progress ul li p {
    position: absolute;
    top: -2em;
    font-size: 12px;
}

.form-box form {
    width: 100%;
    padding: 3em 1em;
    background-color: white;
    border-radius: 30px 30px 15px 15px;
}

form > div {
    max-width: 400px;
    margin: 0 auto;
}

form > div p {
    color: lightgray;
    margin-bottom: 2em;
}

form > div > div:not(.checkbox) {
    display: flex;
    flex-direction: column;
    margin-bottom: 2em;
}

form :where(input,select) {
    height: 40px;
    padding: 0 1em;
    border-radius: 7px;
    outline:none;
    border: 1px solid lightgray;
    background-color: transparent;
}

.form-box input[type="text"]:focus {
    border: 1px solid rgba(86, 30, 202, 0.8) ;
}

form label {
    font-size: medium;
    margin-bottom: 0.5em;
    font-weight: 600;
}

form .grouping {
    display: flex;
    /*flex-direction: row;*/
}

form .dates {
    display: flex;
    flex-direction: column;
}

form .grouping input {
    max-width: 70px;
    text-align: center;
    margin-right: 1em;
}

form .grouping .birth-block.date input {
    max-width: 140px;
}

form .grouping .birth-block label {
    display: flex;
    flex-direction: column;
}

form .grouping .birth-block.date input::-webkit-calendar-picker-indicator {
    cursor: pointer;
}

form .checkbox input {
    height: auto;
}

form > div:not(.btn-group) {
    display: none;
    animation:  fadeIn .6s;
}

form > div.active {
    display: block;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(10%);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

form >div .bg-svg {
    width: 60px;
    height: 60px;
}

form > .form-one .bg-svg{
    background: url("icons/personal.svg");
}

form > .form-two .bg-svg{
    background: url("icons/choice.svg");
}

form > .form-three .bg-svg{
    background: url("icons/contact-me.svg");
}

.form-two {
    display: flex;
}


.btn-group {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    margin-top: 2em;
}

.btn-group [class*="btn-"], #submit, #closeSummary, #btn-submit {
    background-color: rgba(143, 134, 201, 0.8);
    color: white;
    padding: 1em 2.5em;
    border: 4px solid rgba(170, 134, 201, 0.8);
    border-radius: 30px;
    cursor: pointer;
    transition: background-color .3s, border-color .3s ease-out;
}

.btn-group [class*="btn-"]:disabled {
    background-color: lightslategrey;
    border-color: lightslategrey;
    cursor: text;
}

.btn-group [class*="btn-"]:hover:not(:disabled), #btn-submit:hover:not(:disabled), #closeSummary:hover:not(:disabled) {
    background-color: darkslateblue;
    border-color: mediumpurple;
    cursor: text;
}

.btn-group .btn-apply, .form-three.active ~ .btn-group .btn-next {
    display: none;
}

.form-three.active ~ .btn-group .btn-apply {
    display: block;
}

.form-three.active ~ .btn-group {
    justify-content: space-between;
}

::placeholder {
    color: lightslategrey;
}

.success {
    border-color: rgba(51, 255, 8, 0.8);
    box-shadow: 0 0 7px rgba(51, 255, 8, 0.8);
}
.form-error {
    color: red;
    text-align: left;
    font-size: x-small;
}

.invalid {
    border: 1px solid red;
    box-shadow: 0 0 7px red;
}

.radio-choice-group img {
    width: 30px;
    height: auto;
}
.radio-choice-group {
    display: flex;
    flex-wrap: wrap;
    width: 100%; /* Растягиваем на всю ширину контейнера */
}

.radio-choice-item {
    flex: 1 1 100%; /* Заставляем каждый элемент растягиваться на всю ширину */
    display: flex;
    justify-content: center; /* Центрируем содержимое по горизонтали */
    align-items: center; /* Центрируем содержимое по вертикали */
    margin: 0.5rem 0; /* Добавляем небольшие отступы сверху и снизу */
    position: relative;
}

.radio-tile {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%; /* Растягиваем кнопку на всю ширину */
    padding: 0.5rem 0; /* Уменьшаем отступы для более тонкой кнопки */
    color: rgba(170, 134, 201, 0.8);
    border: 1px solid rgba(170, 134, 201, 0.8); /* Тонкая граница */
    border-radius: 8px;
    transition: all 300ms ease;
    background-color: white; /* Цвет по умолчанию */
    z-index: 1; /* Устанавливаем z-index для всех элементов */
}

.radio-choice-item input {
    position: absolute;
    height: 100%;
    width: 100%;
    margin: 0;
    cursor: pointer;
    z-index: 2; /* Устанавливаем поверхностность для интерактивности */
    opacity: 0; /* Делаем сам input невидимым, но он все еще активен */
}

/* Стили для активной (выбранной) кнопки */
.radio-choice-item input:checked + .radio-tile {
    background-color: rgba(170, 134, 201, 0.8);
    box-shadow: 0 0 12px rgba(170, 134, 201, 0.8);
    color: rgba(170, 134, 201, 0.8);
}

.radio-choice-item input:checked + .radio-tile label {
    display: none;
}

.radio-choice-item input:checked + .radio-tile img {
    position: relative;
    top: 0;
    transition: all 300ms ease;
    justify-content: center;
    align-items: center;
    filter: invert(1); /* Инвертируем цвет иконки при активном состоянии */
}

.radio-choice-item label {
    font-size: 0.8rem; /* Уменьшаем размер текста */
    letter-spacing: 1px;
    text-align: center;
}

.depended-selects {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Два равных по ширине столбца */
    gap: 20px; /* Промежуток между выпадающими списками */
    margin-bottom: 20px;
}

.depended-selects div {
    flex: 1; /* Элементы одинаковой ширины, будут растягиваться равномерно */
    min-width: 150px; /* Минимальная ширина поля */
}

select, .time-input, .date-input {
    width: 100%; /* Заполняем ширину родителя */
    padding: 8px;
    border: 1px solid rgba(170, 134, 201, 0.8); /* Установим границы */
    border-radius: 8px; /* Скруглим углы */
    font-size: 1rem;
    color: #333;
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    outline: none;
    cursor: pointer;
    transition: border-color 0.3s ease;
}

select:focus, .time-input select:focus {
    border-color: rgba(86, 30, 202, 0.8); /* Меняем цвет границы при фокусе */
}

option {
    white-space: pre-wrap; /* Позволяем тексту переноситься на следующую строку */
    word-wrap: break-word; /* Разрешаем перенос текста */
}

.form-content {
    display: none; /* Скрыть все блоки по умолчанию */
}

.form-content.active {
    display: block; /* Показать только активный блок */
}
.form-two .board-games,.form-two .computer-games, .form-two .quest-room {
    display: none;/* Начальное состояние */
    /*transition: opacity 0.6s ease-in-out; !* Плавное появление *!*/
}
.form-two .quest-room {
    display: block;
}


.fade-in-active { /* Делаем элемент видимым */
    animation: fadeIn .6s ; /* Применяем анимацию */
}

/* Стили для контейнера инпутов даты и времени */
.booking-date-time-class {
    display: inline-flex; /* Размещаем инпуты в одной строке */
    border: 1px solid #ccc; /* Общая рамка */
    border-radius: 5px; /* Скругление углов */
    overflow: hidden; /* Обрезаем выступающие углы */
    background-color: #f9f9f9; /* Цвет фона */
}

.date-input,
.time-input {
    border: none;
    border-collapse: collapse;/* Убираем стандартные рамки у инпутов */
    padding: 10px; /* Отступы внутри инпутов */
    font-size: 16px; /* Размер текста */
    background-color: transparent; /* Прозрачный фон внутри контейнера */
    flex: 1; /* Инпуты занимают равную ширину */
}

.date-input {
    border-right: 1px solid #ccc; /* Разделитель между полем даты и времени */
}

.date-input:focus,
.time-input:focus {
    outline: none; /* Убираем стандартное выделение при фокусе */
    background-color: #e6f7ff; /* Лёгкое изменение фона при фокусе */
}

input[type="checkbox"] {
    appearance: none;
    height: 20px;
    width: 20px;
    background-color: #888888;
    border-radius: 6px;
    cursor: pointer;
}

.checkbox-group label {
    cursor: pointer;
}

input[type="checkbox"]:after {
content: "\2713";
    display: none;
    color: white;
}

input[type="checkbox"]:hover {
    background-color: #333333;
}

input[type="checkbox"]:checked {
    background-color: rgba(170, 134, 201, 0.8);
}

input[type="checkbox"]:checked:after {
    display: block;
}

.price p {
    align-items: center;
    margin: 0;
    padding: 0;
    justify-content: center;
}

.result {
    display: inline;
    margin: 0;
    padding: 0;
    font-size: small;
}
.required {
    color: mediumpurple;
}

.hidden {
    display: none;
    margin: 0;
    padding: 0;
}

#main-bg {
    display: block;
}

.dark-overlay {
    position: absolute; /* Абсолютное позиционирование */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Полупрозрачный черный фон */
    opacity: 0; /* Начальное состояние - полностью прозрачный */
    transition: opacity 0.5s ease; /* Плавный переход для затемнения */
    pointer-events: none; /* Игнорируем события мыши */
}

.other textarea {
    margin: 10px;
    max-width: 400px;
    min-width: 200px;
    height: 200px; /* Высота текстового поля */
    padding: 10px;
    font-size: 16px;
    color: #333;
    background-color: transparent;
    border: 1px solid rgba(170, 134, 201, 0.8);
    border-radius: 5px;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
}

.other textarea:focus {
    border-color: #E19898;
    outline: none;
    box-shadow: 0 0 8px rgba(102, 175, 233, 0.6);
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 50%;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.darkest-font {
    color: #333333;
}



@media screen and (min-width: 768px) {
    .form-box {
        flex-direction: row;
    }
    .progress {
        flex: 1 0 35%;
        min-width: 300px;
        padding: 3em;
    }

    .form-logo {
        margin: -48px -48px 48px;
    }

    .progress ul.progress-steps {
        flex-direction: column;
        gap: 0;
    }


    .progress ul.progress-steps li:not(:last-child)::before {
        content: '';
        position: absolute;
        left: 20px;
        top: 30px;
        width: 2px;
        height: 65px;
        background-color: darkgray;
    }
    .form-box form {
        padding: 3em;
        border-radius: 0 15px 15px 0;
    }

    .progress ul li p {
        position: relative;
        top: auto;
        font-size: inherit;
    }

    .progress ul.progress-steps li p span {
        display: block;
    }

    .other textarea{
        max-width: 300px;
    }

    .depended-selects {
        flex-direction: column; /* Размещаем выпадающие списки один под другим на маленьких экранах */
    }

}

@media screen and (max-width: 1200px){
    .firm-info {
        display: flex;
        flex-direction: column;
    }
    .firm-info .picture img {
        order: 1;
    }
}
@media screen and (max-width: 650px) {
    .clickable-arcade{
       z-index: 5;
    }
    .contact ul{
        left: 50px;
        margin-left: 120px;
    }
}
